<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE policyconfig PUBLIC "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <vendor>Pardus</vendor>
  <vendor_url>https://www.pardus.org.tr</vendor_url>
  <action id="tr.org.pardus.eta-right-click.settings">
    <description>Modify ETA Right Click settings</description>
    <description xml:lang="tr">ETA Sağ Tık ayarlarını değiştir</description>
    <message>Authentication is required to modify ETA Right Click settings</message>
    <message xml:lang="tr">ETA Sağ Tık ayarlarını değiştirmek için kimlik doğrulaması gerekiyor</message>
    <defaults>
      <allow_any>auth_admin_keep</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/share/eta/eta-right-click/gui/main.py</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>
</policyconfig>
